<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Claymore.WikiLive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><userSettings>
    <Claymore.WikiLive.Properties.Settings>
      <setting name="IrcUser" serializeAs="String">
        <value>WikiLive</value>
      </setting>
      <setting name="IrcDescription" serializeAs="String">
        <value>WikiLive IRC bot</value>
      </setting>
      <setting name="IrcChannel" serializeAs="String">
        <value>#ru.wikipedia</value>
      </setting>
    </Claymore.WikiLive.Properties.Settings>
  </userSettings>
</configuration>
